@import url("theme.css");
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  font-size: calc(0.25vw + 0.75rem);
}
button.selected {
  background-color: white;
  color: black;
}
button:hover {
  cursor: pointer;
}
input {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.1rem;
}
input:focus,
input:active {
  outline-color: blue;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: lightgrey;
  padding: 2rem;
  border-radius: 0.25rem;
}
.timer-type {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.time {
  font-size: calc(1vw + 3rem);
  text-align: center;
}
.timer-controls {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
#settings {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 200ms linear background-color;
  width: 100%;
  height: 0px;
}
#settings > button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#settings > .values {
  display: none;
  font-size: calc(0.5vw + 1rem);
}
#settings > .values > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}
#settings input {
  width: 2.5rem;
}
#settings.shown {
  background-color: rgba(192, 192, 192, 0.75);
  height: 100%;
}
#settings.shown > .values {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
